$menuBg: #fff;
$menuText: var(--el-text-color-regular);
$menuTitleHover: var(--el-color-primary);
$subMenuActiveText: var(--el-color-primary);
$subMenuBg: #fff;
$menuActiveBefore: var(--el-color-primary);
$menuHover: #f8f8f8;
$sidebarLogo: #fff;
